[tool.poetry]
name = "realtime"
version = "2.0.5" # {x-release-please-version}
description = ""
authors = [
    "Joel Lee <joel@joellee.org>",
    "Andrew Smith <a.smith@silentworks.co.uk>"
]
license = "MIT"
readme = "README.md"
repository = "https://github.com/supabase/realtime-py"

[tool.poetry.dependencies]
python = "^3.9"
websockets = ">=11,<14"
python-dateutil = "^2.8.1"
typing-extensions = "^4.12.2"
aiohttp = "^3.10.6"

[tool.poetry.dev-dependencies]
pytest = "^8.3.3"
python-dotenv = "^1.0.1"
pytest-asyncio = "^0.24.0"

[tool.poetry.group.dev.dependencies]
black = ">=23.11,<25.0"
isort = "^5.12.0"
pre-commit = "^3.5.0"
pytest-cov = "^5.0.0"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
